// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,300&family=Roboto:wght@300;500&display=swap');

// Define fonts for body and headers
$body-font: "Jost", "Helvetica", "sans-serif";
$headers-font: "Jost", "Helvetica", "sans-serif";

@font-face {
  font-family: "Jack";
  font-display: swap;
  src: url('jack.woff2') format('woff2');
}
$title-sub: "Jack";

@font-face {
  font-family: "Nova";
  font-display: swap;
  src: url('nova.woff2') format('woff2');
}
$title-font: "Nova";
