.fondconnexion {
  background-color: #FAFAFA;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px 40px 10px;
  padding: 10px 10px 10px 10px;
  height: 95vh;
  }

.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bouton {
  font-family: "Jost", "Helvetica", "sans-serif";
  color: white;
  background-color: #2C445C;
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 16px;
}

#gSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.inscrire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
