
.container-feedback {
  background-image: url('road.jpg');
  background-size: cover;
  background-position: 25% 48%;
  width: 100%;
  height: 24vh;
}

.p-feedback {
  margin-top: 22vh;
  margin-left: 3vh;
  margin-right: 3vh ;
}
