.content {
  text-align:center;
p {
  margin: 10px;
}
}

.avatar-profil {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url('pierre.png');
  background-size: cover;
  border: 5px solid $green;
}

.bio {
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  text-align: inline;
  text-align: center;
  justify-content: space-around;
}

.setup {
  width: 90%;
  height: 100px;
  display: block;
  margin-left: auto;
}

.set {
  padding-top: 50px;
  padding-bottom: 10px;
}
