.content {
  text-align:center;


}

.avatar-profil {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url('pierre.png');
  background-size: cover;
  border: 5px solid $green;
}

.setup {
  width: 90%;
  height: 100px;
  display: block;
  margin-left: auto;
}
