.map-live {
  position: relative;
}

.mapboxgl-ctrl-icon {
  display: none;
}

// .menu-map-top {
//   position: absolute;
//   top: 64px;
//   display: flex;
//   border-radius: 10px;
//   background-color: white;
//   opacity: 0.9;
//   width: 100%;
//   height: 80px;
//   margin-left: 15px;
//   margin-right: 15px;
// }

.menu-map-top {
  position: absolute;
  top: 1vh;
  width: 90%;
  background-color: #FAFAFA;
  opacity: 0.9;
  border-radius: 10px;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 3vh;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  height: 80px;
  display: flex;
  text-align: inline;
  justify-content: space-around;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.menu-map-bottom {
  position: absolute;
  width: 90px;
  bottom: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  margin-left: 2vh;
  text-align: center;
}

// .menu-map-bottom-water {
//   padding-top: 8px;
//   padding-bottom: 8px;
//   border-bottom: solid;
//   border-bottom-width: 1px;
//   border-bottom-color: #2C445C;
// }

.menu-map-bottom-direction {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #2C445C;
  position: relative;
}

.mapboxgl-ctrl-top-right {
  left: 0;
  bottom: 155px;
  width: 90px;
  height: 11vh;
  top: unset;
  opacity: 0;
  margin: 0 0 0 15px;
}
.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 0;
  float: unset;
}
.mapboxgl-ctrl-group button:only-child {
  border-radius: inherit;
  width: 90px;
  height: 103px;
}






.menu-map-bottom-play {
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.menu-map-bottom-progression {
  // display: none;
  position: absolute;
  bottom: 6vh;
  right: 1vh;
  background-color: white;
  opacity: 0.8;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.menu-map-bottom-navigation {
  // display: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: white;
  opacity: 0.8;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
}
