<div class="container-index">

  <div class="profil">
    <div class="avatar"></div>
    <div class="salut"><p>Salut,<br><strong>Pierre</strong></p></div>
  </div>

  <div class="ajouter">
    <h3>Ajouter une course</h3>

      <div class="card-photo">
        <%= link_to "https://ultracompanion.herokuapp.com/races/11" do %>
          <div class="card-text">
            <p>Nantes Centre</p>
            <p><em>Nantes, France</em></p>
          </div>
        <% end %>
      </div>
  </div>

  <div class="precedentes">
    <h3>Mes précédentes courses</h3>
      <div class="card-photo">
          <div class="card-text">
            <p>GM Pays Basque</p>
            <p><em>St Jean de Luz, France</em></p>
          </div>
      </div>
  </div>

</div>
