<div class="container-index">

  <div class="profil">
    <div class="avatar"></div>
    <div class="salut"> <h5>Salut,<br><strong>Pierre</strong></h5></div>
  </div>

  <div class="ajouter-course">
    <h3>Ajouter une course</h3>
    <div class="card-photo-vide"></div>
  </div>

  <div class="precedentes-courses">
    <h3>Mes précédentes courses</h3>

  </div>
  <div class="card-photo">
    <div class="card-text"><h2>Titre course</h2></div>
  </div>

</div>
