<div class="container-index">

  <div class="profil">
  </div>

  <div class="ajouter-course">
    <h2>Ajouter une course</h2>
  </div>

  <div class="precedentes-courses">
    <h2>Mes précédentes courses</h2>
  </div>

</div>


<div class="card"></div>

<div class="avatar"></div>
