<div class="container-index">

  <div class="profil">
    <div class="avatar"></div>
    <div class="salut"><p>Salut,<br><strong>Pierre</strong></p></div>
  </div>

  <div class="big-card">
    <div class="ajouter">
      <h3>Ajouter une course</h3>
        <%= link_to new_race_path do %>
        <div class="card-photo-vide">
          <i class="fas fa-plus-circle"></i>
        </div>
        <% end %>
    </div>

  <%# Carrousel des courses déjà réalisées %>
<h3>Mes précédentes courses</h3>

  <div class="wrapper">
    <nav class="lil-nav">
      <div class="gallery">

        <div class="card-carousel">
          <div class="card-text">
            <p> <%=  %> GM Pays Basque</p>
            <p><em>St Jean de Luz, France</em></p>
          </div>
        </div>

        <div class="card-carousel2">
          <div class="card-text">
            <p>GM Breizh</p>
            <p><em>Plogoff, France</em></p>
          </div>
        </div>

        <div class="card-carousel3">
          <div class="card-text">
            <p>GM Mont Blanc</p>
            <p><em>Chamonix, France</em></p>
          </div>
        </div>

      </div>
  </div>

</div>
