<div class="container-index">

  <div class="profil">
  </div>

  <div class="ajouter-course">
    <h2>Ajouter une course</h2>
  </div>

  <div class="precedentes-courses">
    <h2>Mes précédentes courses</h2>
  </div>

</div>



<button class="principal-btn">Valider</button>

<div class="card-photo"></div>

<div class="avatar"></div>
