<div class="container-index">

  <div class="profil">
  </div>

  <div class="ajouter-course">
    <h2>Ajouter une course</h2>
  </div>

  <div class="precedentes-courses">
    <h2>Mes précédentes courses</h2>

    <h1>List of tasks</h1>

<ol>
  <% @races.each do |race|%>
  <li>
    <%= link_to race.name, race_path(race)%>
  </li>
  <% end %>

<%= link_to "Nouvelle course", new_race_path%>
</ol>

  </div>

</div>



<button class="principal-btn">Valider</button>

<div class="card-photo"></div>

<div class="avatar"></div>
