<div class = "new-container" >
	<div class="test">
		<h3>Ajouter une course</h3>
	</div>
</div>

<div >
  <div class = "form-add" style = "margin-top: 7vh;" >
    <%= render "form", race: @race%>
  </div>
</div>
