

<div class = "new-container" >
	<div class="test">
		<strong><h3>Ajouter une course</h3></strong>
	</div>
</div>

<div>
  <div class = "form-add" >
    <%= render "form", race: @race%>
  </div>


  <%= link_to "Ajouter", waters_path, class: "principal-btn" %>
</div>



