<div class="navbar">
  <%= link_to image_tag("icons/weather.svg"), weather_path, class: "bloc-icon #{'active' if current_page?(weather_path)}", id:"weather"%>
  <%# <%= link_to image_tag("icons/accueil.svg"), races_path, class: "bloc-icon #{'active' if current_page?(races_path)}", id:"accueil"%>
  <%= link_to image_tag("icons/map.svg"), live_path, class: "bloc-icon #{'active' if current_page?(live_path)}", id:"clock"%>
  <%= link_to image_tag("icons/customer.svg"), feedback_path, class: "bloc-icon #{'active' if current_page?(feedback_path)}", id:"profil"%> </div>
