<div class="container-feedback">
  <div class="test">
		<h3>Bienvenue</h3>
	</div>
  <div class="p-feedback">
    <p>
    Tout d’abord, nous souhaitons vous remercier d’utiliser notre application. Nous souhaitons vous offrir la meilleure expérience possible.
    C'est pourquoi nous vous encourageons à nous faire part de vos commentaires et suggestions d’améliorations.
    Si vous avez des idées pour de nouvelles fonctionnalités ou des améliorations que nous pourrions apporter à l'application,
    nous serions ravis de les entendre ! Contactez nous via ce formulaire pour partager vos retours.
    Nous sommes impatients de recevoir vos commentaires et suggestions, et de continuer à améliorer l’application pour répondre à vos besoins.
    Merci de votre aide !
    L’équipe de l’UltraCompanion (Céline, Denis & Pierre).
    </p>
  </div>

  <div>
    Ajouter un formulaire de contact
  </div>
</div>
