<div class ="geo-container">
  <div class ="geo-image">
  <%=image_tag("icons/geolocation.svg")%>
  </div>
  <h1>Partage ta position</h1>
  <p>L'application nécessite ta position GPS pour te fournir des informations précises sur les points d'intérêt à proximité. Autorises-tu l'accès à ta position GPS ?</p>
  <div data-controller="geolocation">
    <button class="geo-button" data-action="click->geolocation#geolocate">Autoriser le partage</button>
    <a data-geolocation-target="link"></a>
    <%= link_to "Plus tard", live_path, class: "geo-p" %>
  </div>
</div>
