
    <div data-controller="geolocation">
      <button data-action="click->geolocation#geolocate">Autoriser le partage</button>
      <a data-geolocation-target="link"></a>
    </div>

<%# <script>
  let result = document.getElementById("result");
  let userLocation = navigator.geolocation;
  function myGeolocator() {
    if(userLocation) {
        userLocation.getCurrentPosition(success);
    } else {
        "The geolocation API is not supported by your browser.";
    }
  }
  function success(data) {
    let lat = data.coords.latitude;
    let long = data.coords.longitude;
    result.innerHTML = "Latitude: "
    + lat
    + "<br>Longitude: "
    + long;
  }
</script> %>
