<div class="home-container">

  <div class="home-title">
    <h1>Ultra Companion</h1>
    <h2>Keep your mind focus on your race</h2>
  </div>

  <%= link_to "Explorer", live_path, class: "home-button" %>

</div>
