
<div class="container-poi">
  <div id="map" style="width: 100%; height: 92vh;"
    data-controller="poi"
    data-poi-geoapify-api-key-value="<%= ENV['GEOAPIFY'] %>"
    data-poi-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
