<div class="content">
  <h4>Profile</h4>
    <div class="avatar-profil">
    </div>

    <p>pierre@comp.fr</p>
    <h4>Pierre, 34 ans</h4>
      <div class="bio">
        <p>Passionné de velo et plus particulièrement de VTT depuis tout jeune. J’aspire à de nouveaux défis pour me ressourcer et partager le plaisir de la route.</p>
        <p><i class="fa-solid fa-flag-checkered"></i>
        <%= @races %>
        <strong>courses</strong> </p>
      </div>
</div>

    <div class="setup">
      <div class="set">
        <%= link_to image_tag("icons/param.svg")%>
        Paramètres
      </div>
      <div class="deconect">
        <%= link_to image_tag("icons/deconect.svg")%>
        Se déconnecter
      </div>
    </div>
