// Ce btn est à utiliser sur la home page et
// le formulaire d'inscription et le search de la météo

.home-button {
  font-family: "Jost", "Helvetica", "sans-serif";
  color: white;
  background-color: #245611;
  border-radius: 5px;
  display: block;
  padding: 10px 50px;
  margin: 8vh auto;
  width: 70%;
  text-align: center;
  font-size: 20px;
}

// Ce bouton est à utiliser pour importer la course et accéder à la navigation

.principal-btn {
  font-family: $body-font;
  color: white;
  background-color: $blue;
  border-radius: 5px;
  display: block;
  padding: 10px 50px;
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 16px;
}

// exemple : <button type="button" class="principal-btn">Valider</button>
.btn-auth {
  font-family: $body-font;
  color: $blue;
  background-color: white;
  border-radius: 5px;
  display: block;
  padding: 10px 50px;
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 16px;
}

// Ce bouton est à utiliser pour la page géolocalisation

.geo-button {
  font-family: "Jost", "Helvetica", "sans-serif";
  color: white;
  background-color: #245611;
  border-radius: 5px;
  display: block;
  padding: 10px 50px;
  margin: 5vh auto;
  width: 70%;
  text-align: center;
  font-size: 20px;
}

.geo-p {
  font-size: 18px;
  margin: 0;
  color: #245611;
  // font-weight: bold;
  display: block;
  text-align: center;
}
