// Card des 2 cards de l'index

.big-card {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.big-card-carousel-image {
  border-radius: 20px;
  height: 30vh;
  width: calc(100% - 33px);
  margin: 0px 0px 2vh 33px;
  position: relative;
}

.big-card-carousel-image .big-image-carousel {
  border-radius: 20px;
  height: 30vh;
  width: calc(100% - 33px);
  background-size: cover;
  background-position: center;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  padding: 0px;
  object-fit: cover;
  position: absolute;
}

.big-card-text {
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% - 33px);
  color: white;
  height: 100%;
  padding: 1rem;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(44, 68, 92, 0) 66.76%, #2C445C 88.03%), url(.jpg);
  position: absolute;
  margin: 0px 0px 0px 0px;
}

// Card à utiliser dans l'index pour les courses

.card-photo {
  background-image: url('biking.jpg');
  border-radius: 20px;
  height: 240px;
  width: 200px;
  background-size: cover;
  background-position: 25% 75%;
  margin-left: 33px;
  overflow: hidden;
}

.card-course {
  border-radius: 20px;
  height: 240px;
  width: 38vh;
  background-size: cover;
  background-position: 25% 75%;
  margin-left: 33px;
  overflow: hidden;
}

.card-photo-vide {
  background-color: $light-gray;
  font-size: 55px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px;
  height: 240px;
  width: 200px;
  margin-left: 33px;
}

// Titre à l'interieur de la card
.card-carousel-image {
  border-radius: 20px;
  height: 30vh;
  width: 200px;
  margin: 0px 0px 0px 33px;
  position: relative;
}

.card-carousel-image .image-carousel {
  border-radius: 20px;
  height: 30vh;
  width: 200px;
  background-size: cover;
  background-position: center;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  padding: 0px;
  object-fit: cover;
  position: absolute;
}

.card-text {
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  color: white;
  height: 100%;
  padding: 1rem;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(44, 68, 92, 0) 66.76%, #2C445C 88.03%), url(.jpg);
  position: absolute;
  margin: 0px 0px 0px 0px;
}

.ajouter {
  margin-top: 2vh;
}

.precedentes {
  margin-top: 20px;
}

// Les cartes de fond pour les pages d'affichage des courses
.white-card{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin: auto;
  padding: 8px;
  width: 90%;
  display: flex;
  text-align: inline;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.white-card-companion{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin: 12px auto;
  padding: 8px;
  width: 90%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  p {
    font-size: smaller;
  }
}

.white-card-live{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  height: 100%;
  display: flex;
  text-align: inline;
  justify-content: space-around;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
