// Card à utiliser dans l'index pour les courses

.card-photo {
  background-image: url('bike.jpg');
  border-radius: 5px;
  height: 265px;
  width: 230px;
  background-size: cover;
  background-position: 25% 75%;
  position: relative;
  margin-top: 70px ;
  margin-left: 33px;
}

.card-text {
  border-radius: 0 0 5px 5px;
  width: 100%;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 5;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(44, 68, 92, 0) 66.76%, #2C445C 88.03%), url(.jpg);
}

// .card-photo-vide {
//   background-color: #E1E1E1;
//   border-color: black;
//   background-size: cover;
//   background-position: 25% 75%;
//   margin-top: 70px ;
//   margin-left: 33px;
//   border-radius: 5px;
//   height: 265px;
//   width: 230px;
// }


// background-image: url('bike.jpg');
//   background-size: cover;
//   background-position: 25% 75%;
//   margin-top: 270px ;
//   margin-left: 33px;
//   border-radius: 5px;
//   height: 265px;
//   width: 230px;

.white-card{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  height: 80px;
  display: flex;
  text-align: inline;
  justify-content: space-around;
}

.white-card-companion{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  height: 280px;
}
