// Card des 2 cards de l'index

.big-card {
  display: flex;
  margin: auto;
}

// Card à utiliser dans l'index pour les courses

.card-photo {
  background-image: url('bike.jpg');
  border-radius: 20px;
  height: 240px;
  width: 200px;
  background-size: cover;
  background-position: 25% 75%;
  position: relative;
  margin-left: 33px;
  overflow: hidden;
}

.card-photo-vide {
  background-color: $light-gray;
  font-size: 55px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px;
  height: 240px;
  width: 200px;
  margin-left: 33px;
}

// Titre à l'interieur de la card

.card-text {
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  color: white;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(44, 68, 92, 0) 66.76%, #2C445C 88.03%), url(.jpg);
}

.ajouter {
  position: absolute;
  margin-top: 2vh;
}

.precedentes {
  position: absolute;
  margin-top: 340px;
}

// Les cartes de fond pour les pages d'affichage des courses
.white-card{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  height: 100%;
  display: flex;
  text-align: inline;
  text-align: center;
  justify-content: space-around;
}

.white-card-companion{
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  height: 100%;
}
