
h3 {
  font-size: 20px;
  margin-left: 33px;
  margin-top: 16px;
  margin-bottom: 2vh;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  margin-left: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin: 0;
}
